<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTION</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
 
	<nav class="right-nav">
		<ul>
			<!-- <input type="submit" name="SUBSCRIBE NOW" value="SUBSCRIBE NOW"> -->
			<li><button type="button"><b>SUBSCRIBE NOW</b></button></li>
			<li><button type="button"><b>LOG IN</b></button></li>
			<%# <li><b><span>&#9881;</span></b></li> %>
			<li id="gear-dropdown-btn"><i class="fas fa-cog"><%= render partial: 'shared/gear_dropdown' %></i></li>
		</ul>
	</nav>
</header>
