<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="">CSS</a></li>
            <li><a href="">HTML</a></li>
            <li><a href="">Javascript</a></li> 
            <li><a href="">Ruby</a></li>
        </ul>
    </nav>

    <img class="logo" src="assets/AA_Times_Logo.png">

    <nav class="masthead-links">
        <%# <ul> %>
            <li><i>Tuesday, October 18, 2016</i></li>
            <li><i class="far fa-newspaper"></i><a href="">Today’s Paper</a></li>
            <li><i class="fas fa-video"></i><a href="">Video</a></li>
            <li><button><i>77°F</i></li>
            <li><button><i>AAO</i><strong>+100%</strong></li>
        <%# </ul> %>
    </nav>
</header>
