<h2>Sign Up For Music App<h2>
<form action="<%= users_url%>" method= "POST">
    <label>
        email:
        <input type="text" name="user[email]"
        value="">
    </label>
    <label>
        password:
        <input type="password" name="user[password]"
        value="">
    </label>
    <input type="submit" value="Sign Up">
</form>